@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", "arial", sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.positionBar {
  position: relative;
  margin: 1rem 0 2rem 0;
  -webkit-box-shadow: 0 0 5px #fd7e14;
          box-shadow: 0 0 5px #fd7e14;
  border: 1px solid #fd7e14;
  border-radius: 4px;
}

.positionBar__item {
  position: absolute;
  left: 25%;
  -webkit-transform: translate(-0.7rem, -0.7rem);
          transform: translate(-0.7rem, -0.7rem);
  padding: .7rem;
  background-color: #fd7e14;
  -webkit-box-shadow: 0 0 5px #fd7e14;
          box-shadow: 0 0 5px #fd7e14;
  border-radius: 1rem;
}

.positionBar__item--green {
  background-color: #28a745;
  -webkit-box-shadow: 0 0 5px #28a745;
          box-shadow: 0 0 5px #28a745;
}

.positionBar__item:nth-child(2) {
  left: 50%;
}

.positionBar__item:nth-child(3) {
  left: 75%;
}

.form {
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  background-color: white;
}

.form__section {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  z-index: -1;
}

.form__section--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  z-index: 0;
}

.form__section * {
  margin: .5rem;
}

.form__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__row::after {
  content: "";
  position: absolute;
  left: 6%;
  bottom: 0;
  width: 86%;
  border-bottom: 1px solid #bcc1c6;
}

.form__title {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: right;
}

.form__items {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tshirtImg {
  border-radius: 4px;
}

.tshirtImg--chosen {
  border: 2px solid #28a745;
}

.imgMiniature {
  position: absolute;
  top: 50px;
  left: 165px;
  width: 70px;
  height: 70px;
}

.imgMiniature--right {
  left: 405px;
}

.wrapper {
  margin: 1rem;
  padding: 1rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
  color: #f5f5f5;
  letter-spacing: 1px;
  background-color: #007bff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn--inactive {
  background-color: #6c757d;
  cursor: default;
}

.btn--next {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=main.css.map */