.tshirtImg {
    position: relative;
    width: 230px;
    height: 255px;
    border-radius: $border-radius;
    background-image: url(../assets/tshirt_front.jpg);
    background-repeat: no-repeat;
    border: 2px solid transparent;

    &:last-child {
        background-image: url(../assets/tshirt_rear.jpg);
    }

    &--chosen {
        border: 2px solid $green;
    }
}

.imgMiniature {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-100%);
    width: 70px;
    height: 70px;

    &--show {
        display: block;
    }
}

.label {
    &--hide {
        display: none;
    }
}

.input {
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: $inpnutTxtColor;
    border: 1px solid $inputBorder;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: visible;

    &--short {
        width: 3rem;
    }

    &:focus {
    color: $inputFocusTxtColor;
    border-color: $inputFocusBorder;
    outline: 0;
    box-shadow: $inputBoxShadow;
    }
}

.adrress {
    .form__title {
        flex-basis: 40%;
    }
    .form__items {
        justify-content: flex-start;
    }
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    &__img {
        width: 200px;
    }
}

.opacity {
    opacity: 0;
    transition: .3s;

    &--one {
        opacity:1;
    }
}

.img {
    height: 200px;
}