.tshirtImg {
    position: relative;
    width: 230px;
    height: 255px;
    border-radius: $border-radius;
    background-image: url(../assets/tshirt_front.jpg);
    background-repeat: no-repeat;
    border: 2px solid transparent;

    &:last-child {
        background-image: url(../assets/tshirt_rear.jpg);
    }

    &--chosen {
        border: 2px solid $green;
    }
}

.imgMiniature {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-100%);
    width: 70px;
    height: 70px;

    &--show {
        display: block;
    }
}