.form {
    position: relative;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: white;

    &__section {
        display: flex;
        flex-direction: column;;

        * {
            margin: .5rem;
        }
    }

    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
            content: "";
            position: absolute;
            left: 6%;
            bottom: 0;
            width: 86%;
            border-bottom: 1px solid lighten($grey,30%);
        }
    }

    &__title {
        flex-basis: 30%;
        text-align: right;
    }

    &__items {
        flex-grow:1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}