@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$black: #252525;
$white: #f5f5f5;
$blue:#007bff;
$grey:#6c757d;
$green:#28a745;
$red:#dc3545;
$orange:#fd7e14;
$main-font: 'Montserrat', 'arial',sans-serif;
$box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$border-radius: 4px;