@import 'variables';
@import 'reset';
@import 'positionBar';
@import 'form';
@import 'components';

.wrapper {
    position: relative;
    margin:1rem;
    padding:1rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    padding: 1rem 2rem;
    text-align: center;
    color: $white-bgc;
    letter-spacing: 1px;
    background-color: $blue;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;

    &--inactive {
        background-color: $grey;
        cursor: default;
    }

    &--next {
        align-self: flex-end;
    }
}